{% extends 'base.html' %}

{% block content %}

<div class="pt-4 row">
  <div class="col-md-12">
    <h1>OpenLigaDB</h1>
    <h2><span class="text-muted">Community-based sports scores.</span></h2>
    <h2><span class="text-muted"><a href="https://www.openligadb.de/">https://www.openligadb.de/</a></span></h2>
    <hr />
    This site has been created as a part of an on-going interview. <br/>

    It shows the rankings of Bundesliga 2018, Upcoming matches this weekend(current week, saturday and sunday). And it has search capability for a team.
    <br /><br />
    <h3> Technical Details </h3>
    The website is build on Django 2.2 and it is using a customly made SDK for OpenLigaDB.
  </div>
</div>

{% endblock %}
